
.cooperationConfirmButton{
    padding:0px 15px 0px 15px;
    color: #ffffff;
}

.cooperationConfirmButton:hover{
    background-color: #2e363a;
    border-color: #2e363a;
}

.cooperationFontSize{
    font-size: large;
    vertical-align: middle;
    text-align: center;
}

.contentFontSize{
    font-size: medium;
}
