
.select-item{
    display: inline-flex;
    border-radius: 0px;
    min-width: 80px;
}
.select-item:hover{
    background: #33cde5;
    color: #fff;
}
.select-item.selected{
    background: #00c1de;
    color: #fff;
}

.table-text-center > thead th{
    text-align: center;
}

.alert {
    bottom: -20px;
    height: 60px;
}
.alert-dismissible .close {
    top: -10px;
}

.top-margin{
    margin-top: 30px;
}
.bottom-margin{
    margin-bottom: 30px;
}